
*.txt
revit-batch-transformation/.vs/RevitBatch/v15/Server/sqlite3/db.lock
revit-batch-transformation/.vs/RevitBatch/v15/.suo
revit-batch-transformation/.vs/RevitBatch/v15/.suo
revit-batch-transformation/.vs/RevitBatch/v15/.suo
